$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// spacing, font size, border radius, height, width
// default is multiply 10 times by 10px
$multiplier: 10px;
$multiplier-loop: 10;