@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import '../base/reset';
@import '../base/atomic';

$theme-colors: (
  "black": #1E201D,
  "white": #FFF,
  "light-gray": #DBDBE3,
  "dark-gray": #899694,
  "antique-white": antiquewhite,
);

:root {
  // Generate CSS Variables for theme colors
  // ----------------------
  @each $name, $hex in $theme-colors {
    --#{$name}: #{$hex};
  }
}

// create background color, color and border classes based on theme colors
@each $name, $hex in $theme-colors {
  .bg-#{$name} {
    background-color: var(--#{$name});
  }

  .text-#{$name} {
    color: var(--#{$name});
  }

  .border-#{$name} {
    border: 1px solid var(--#{$name});
  }
}

body {
  font-family: 'Roboto', sans-serif;
  // min-height: 100vh;
}

h1 {
  color: darkmagenta;
}

.shadow {
  box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
}

// repeat, auto, minmax
.ram {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.ram2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.super-centered {
  display: grid;
  place-items: center;
}

.card {
  .icon {
    bottom: -20px;
  }
}